<!-- Search Bar by Genre -->
<div class="searchbar">
        <!-- Form for submitting the genre search query -->
    <form method="get" action="" onsubmit="this.action = '/genres/' + this.querySelector('.genre-input').value;">
        <div class="input-group">
            <input 
                name="genre"
                type="text" 
                class="form-control" 
                placeholder="Search by genre" 
                required 
            />
            <button class="btn btn-success" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>

