{% extends 'base.html' %}

{% block title %}
GoodReads | Profile
{% endblock %}

{% block content %}
    <!-- Main container for user's profile information -->
    <div id="profile-container" class="container d-flex">
        <div>
            <!-- Display user's profile picture -->
            <img src="{{ stored_user.profile_image_url }}" id="profile-pic" class="img-fluid" alt="Profile Image" />
        </div>
        <div id="profile-info">
            <!-- Display user's first and last name -->
            <h2 class="Roboto mb-0">{{ stored_user.first_name }} {{ stored_user.last_name }}</h2>
            <small>
                <!-- Link to edit profile -->
                <a href="{{ url_for('edit_profile') }}" class="ms-2">edit profile</a>
            </small>
            <p class="card-text mt-3">
                <!-- Display user's email -->
                <b>Email: </b>{{ stored_user.email }}
            </p>
        </div>
    </div>
{% endblock %}