{% extends 'base.html' %}

{% block title %}
GoodReads | Profile Management
{% endblock %}

{% block content %}
<!-- Main container for the profile edit form -->
<div class="content">
    <div id="profile-edit-form">
        <div id="profile-edit-container" class="container">
            <h1 class="merriweather">Profile Edit</h1>
            <form method="POST" class="Roboto">
                <!-- CSRF protection tag -->
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <!-- Exclude the password fields from rendering -->
                    {% if field != form.password and field != form.confirm_password %}
                        {{ field.label(class="form-label") }}
                        {{ field(class="form-control form-field-control") }}

                        <!-- Display an form field errors -->
                        {% for error in field.errors %}
                            <small class="text-danger">{{ error }}</small><br />
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <button class="btn btn-dark form-btn">Save Profile Settings</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}